<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764988795381-r69aef720uule79e3k8nmmgdev5mh68r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764988795381-r69aef720uule79e3k8nmmgdev5mh68r</string>
	<key>API_KEY</key>
	<string>AIzaSyCgXg94Cc6o0a3Nfc-GzcebgZ68Oj1qgbg</string>
	<key>GCM_SENDER_ID</key>
	<string>764988795381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginUi</string>
	<key>PROJECT_ID</key>
	<string>inicio-sesion-2022-2a15a</string>
	<key>STORAGE_BUCKET</key>
	<string>inicio-sesion-2022-2a15a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764988795381:ios:85fb3af40db181f3f618bc</string>
</dict>
</plist>